/* colors */

* {
  al:      #00000000;
  bg:      #1d2021ff;
  se:      #a6b251ff;
  fg:      #d4be98ff;
  ac:      #7daea3ff;
  red:     #e56750ff;
  green:   #a6b251ff;
  yellow:  #d4a248ff;
  blue:    #7daea3ff;
  purple:  #d3869bff;
  cyan:    #65af80ff;
}
