/* colors */

* {
  al:      #00000000;
  bg:      #4c555bff;
  se:      #a7c080ff;
  fg:      #d3c6aaff;
  ac:      #7fbbb3ff;
  red:     #e67e80ff;
  green:   #a7c080ff;
  yellow:  #dbbc7fff;
  blue:    #7fbbb3ff;
  purple:  #d699b6ff;
  cyan:    #e69875ff;
}
