html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d2021;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Comfortaa Regular";
    src: url(../assets/fonts/Comfortaa-Regular.ttf);
}

#wrapper {
    padding: 10vh;
    width: calc(100%-20vh);
    min-height: 80vh;
}

#center {
    display: flex;
    min-height: 80vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message {
    font-weight: bold;
    font-size: 8vh;
    color: #a6b251;
    text-shadow: 0px 0px 10px #171717;
    font-family: "Comfortaa Regular";
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#user {
    color: #7daea3;
}

#date {
    font-size: 4vh;
    color: #e56750;
    font-family: "Comfortaa Regular";
    text-align: center;
    margin: 0;
}

#widget-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: row;
    width: 100%;
}

.widget {
    width: 20vh;
    height: 20vh;
    margin: 1vw;
    cursor: pointer;
}

.widget-t {
    width: 22vh;
    height: 22vh;
    margin: 1vw;
    cursor: pointer;
}

.widget-background {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px #171717;
    border-radius: 100px;
    background-color: #756a5d;
    overflow: hidden;
}

.widget-background img {
    width: 100%;
    height: 100%;
}

.widget-background-t {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    box-shadow: 5px 5px 5px #171717;
    border-radius: 100px;
    background-color: #756a5d;
    overflow: hidden;
}

.widget-background-t img {
    width: 100%;
    height: 100%;
}

.widget:hover .widget-background {
    width: 80%;
    height: 80%;
    margin: 10% 0 0 10%;
    background-color: #756a5d;
}

.widget-t:hover .widget-background-t {
    width: 60%;
    height: 60%;
    margin: 10% 0 0 20%;
    background-color: #756a5d;
}

.widget svg, .widget-t svg {
    height: 60%;
    width: 60%;
    margin: 20% 0 0 20%;
    stroke: #d4be98;
    color: #d4be98;
}

.widget-name {
    color: #d4be98;
    text-align: center;
    font-size: 3vh;
    font-family: "Comfortaa Regular";
    font-weight: bold;
    margin: 5% 0 0 0;
    height: 15%;
    width: 100%;
}

.widget:hover .widget-name {
    margin-top: 15%;
}

.widget-t:hover .widget-name {
    margin-top: 15%;
}

@media screen and (max-width: 100vh) {
    #wrapper {
        padding: 5vh;
        min-height: 90vh;
    }

    #center {
        min-height: 90vh;
    }

    #message {
        font-size: 8vw;
    }

    #date {
        font-size: 4vw;
    }

    .widget {
        height: 20vw;
        width: 20vw;
    }

    .widget-t {
        height: 22vw;
        width: 22vw;
    }

    .widget-name {
        font-size: 3vw;
    }
}
